.footer-top {
  width: 100%;
  height: 2px;
  background-color: #ff8800;
}

.footer {
  width: 100%;
  background-color: #fff;
  color: #5a5a5a;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 0.75rem;
  padding-left: 10px;
  padding-right: 10px;
}
